<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calamity_assist.policestation">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/police"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/police"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_police" />
        <activity android:name=".Police_reg" />
        <activity android:name=".Forgot_password_police" />
        <activity android:name=".ChangePassswor" />
        <activity android:name=".otp_verifiy" />
        <activity android:name=".Home_police"></activity>
    </application>

</manifest>