<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.calamity_assist.hospital">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hospital"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hospital"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_hospital" />
        <activity android:name=".Hospital_Reg" />
        <activity android:name=".Forgot_password_hospital" />
        <activity android:name=".Change_password_hospital" />
        <activity android:name=".Home_hospital"></activity>
        <activity android:name=".otp_verify" />
        <activity android:name=".Details_user"></activity>
    </application>

</manifest>